// loading spinner
.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: antiquewhite;
  opacity: 1;
  overflow: hidden;
  z-index: 1;
  transition: .8s all ease;

  &.loaded {
    opacity: 0;
    z-index: -1;
  }
  
  .spinner {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: .5rem solid $white;
    border-top-color: $gold;
    animation: loading .6s linear infinite;
  }  
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
}
