.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: antiquewhite;
  opacity: 1;
  overflow: hidden;
  z-index: 2;
  transition: 1s all ease; }
  .loading .spinner {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.5rem solid #ffffff;
    border-top-color: #F8B400;
    animation: loading .6s linear infinite; }

@keyframes loading {
  to {
    transform: rotate(360deg); } }

.center-children {
  display: flex;
  align-items: center;
  justify-content: center; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100vh;
  width: 100%;
  margin: 0; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #020202;
  background-color: antiquewhite; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0; }

.btn,
select {
  padding: .5rem;
  display: inline-block;
  font-family: "input-mono", "anonymous-pro", "inconsolata", monospace;
  font-size: .875rem;
  outline: 0;
  border: 0; }

.header {
  width: 100%;
  padding: 1rem 0; }
  .header .logo {
    font-size: .875rem;
    font-family: "input-mono", "anonymous-pro", "inconsolata", monospace;
    text-transform: uppercase;
    letter-spacing: 1px; }

.container {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 23.4375rem;
  height: 100vh; }

.category-select {
  display: flex;
  width: 100%;
  margin-bottom: 2rem; }
  .category-select select {
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none; }
  .category-select .btn {
    margin-left: auto;
    color: #F8B400;
    background-color: #020202; }

.title {
  font-family: "acta-display", Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
  font-size: 2.5rem; }

.category {
  display: inline-block;
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding: .25rem .5rem;
  font-family: "input-mono", "anonymous-pro", "inconsolata", monospace;
  background-color: rgba(0, 0, 0, 0.1); }

.footer {
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  width: 100%;
  height: 8rem;
  text-align: center;
  background-color: #020202; }
  .footer .controls {
    flex-direction: column; }
    .footer .controls .controls_audio {
      margin-bottom: 1.5rem; }
      .footer .controls .controls_audio .prev,
      .footer .controls .controls_audio .next {
        background-color: transparent;
        border: 0; }
        .footer .controls .controls_audio .prev:hover,
        .footer .controls .controls_audio .next:hover {
          cursor: pointer; }
        .footer .controls .controls_audio .prev img,
        .footer .controls .controls_audio .next img {
          width: 1rem;
          height: 1rem; }
      .footer .controls .controls_audio .playBtn {
        margin: 0 .75rem 0 2rem;
        height: 2.25rem;
        background-color: transparent;
        border-color: transparent transparent transparent #ffffff;
        transition: 100ms all ease;
        will-change: border-width;
        cursor: pointer;
        outline: 0;
        border-style: solid;
        border-width: 1rem 0 1rem 2rem; }
        .footer .controls .controls_audio .playBtn.pause {
          border-style: double;
          border-width: 0px 0 0px 2rem; }
  .footer .progress-container .time {
    font-size: .75rem;
    color: antiquewhite; }
  .footer .progress-container .progress-outer {
    margin: 0 .5rem;
    width: 70vw;
    max-width: 16rem;
    background-color: #3a3a3a; }
    .footer .progress-container .progress-outer .progress-inner {
      height: .5rem; }
      .footer .progress-container .progress-outer .progress-inner.playing {
        background-color: #F8B400; }

@keyframes grow {
  from {
    width: 0; }
  to {
    width: 100%; } }
