* {
  box-sizing: border-box; }

html,
body {
  height: 100vh;
  width: 100%;
  margin: 0; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #020202;
  background-color: #F8B400; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0; }

.btn,
select {
  padding: .5rem;
  display: inline-block;
  font-family: "input-mono", "anonymous-pro", "inconsolata", monospace;
  font-size: .875rem;
  outline: 0;
  border: 0; }

.btn {
  color: #F8B400;
  background-color: #020202; }

select {
  background-color: #FFF5E0;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none; }

.app {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 23.4375rem;
  height: 100vh; }

.title {
  font-family: "acta-display", Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
  font-size: 2.5rem; }

.category {
  display: inline-block;
  margin-right: .5rem;
  padding: .25rem .5rem;
  font-family: "input-mono", "anonymous-pro", "inconsolata", monospace;
  background-color: rgba(0, 0, 0, 0.1); }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  width: 100%;
  height: 8rem;
  text-align: center;
  background-color: #020202; }
  .footer .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .footer .controls .controls_audio {
      display: flex;
      align-items: center;
      margin-bottom: 2rem; }
      .footer .controls .controls_audio .prev,
      .footer .controls .controls_audio .next {
        background-color: transparent;
        border: 0; }
        .footer .controls .controls_audio .prev:hover,
        .footer .controls .controls_audio .next:hover {
          cursor: pointer; }
        .footer .controls .controls_audio .prev img,
        .footer .controls .controls_audio .next img {
          width: 1rem;
          height: 1rem; }
      .footer .controls .controls_audio .playBtn {
        margin: 0 .75rem 0 1.75rem;
        height: 2rem;
        background-color: transparent;
        border-color: transparent transparent transparent #FFF5E0;
        transition: 100ms all ease;
        will-change: border-width;
        cursor: pointer;
        outline: 0;
        border-style: solid;
        border-width: 1rem 0 1rem 2rem; }
        .footer .controls .controls_audio .playBtn.pause {
          border-style: double;
          border-width: 0px 0 0px 2rem; }
  .footer .progress {
    width: 70vw;
    background-color: #333333; }
    .footer .progress .progress-inner {
      height: .5rem;
      background-color: #F8B400; }

@keyframes grow {
  from {
    width: 0; }
  to {
    width: 100%; } }
